.categoryTag {
    padding: .5em 1em;
    border: .1em solid #7C86EA;
    border-radius: 4px;
    background-color: #7C86EA;
    color: white;
    max-width: max-content;
}

.filled {
    background-color: white;
    color: #7C86EA;
}